body{
	background-color: #34495E;
	font-family: Helvetica, Arial, sans-serif;
}

#container{
	background-color: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #191919;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#nav a {
	text-decoration: none;
	color: black;
}

h1, h2, h3 {
	margin: 0;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected{
	font-weight: bold;
	color: blue;
	text-decoration: underline;
}

#main {
	width: 80%;
	float: left;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #191919;
	color: white;
	text-align: right;
}