<html>

    <img src="https://cdn.discordapp.com/attachments/801569540478599168/819424695803838534/b8e73c30-b638-4ded-a6c8-4b83f6b29104_200x200.png" alt="StatKing Football" width="150" height="100">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='createUser.css') }}">
    <title>Sign Up</title>
  </head>
    
</html>



<div id="login-box">
  <div class="left">
    <h1 style="font-family:URW Gothic L;">Sign up</h1>

    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />

    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
  
  

  <div class="right">
    <h1 style="font-family:URW Gothic L;">Sign in with<br />social network</h1>

    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  
  
  <div class="or">
    <h1 style="font-family:URW Gothic L;">Or</h1>
  </div>
</div>




